@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

.App {
  width: 100vw;
  height: 100vh;
}

.Name {
  width: 100%;
  border: none;
  color: #fff;
  font-size: 60px;
  text-align: center;
  background: transparent;
  font-family: 'East Sea Dokdo', cursive;
}
