@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
@import url('https://fonts.googleapis.com/css?family=Gugi');

.App {
  width: 100vw;
  height: 100vh;
}

.Name {
  width: 100%;
  border: none;
  color: #fff;
  font-size: 60px;
  text-align: center;
  background: transparent;
  font-family: 'East Sea Dokdo', cursive;
}

.Room {
  width: 100%;
  color: grey;
  font-size: 20px;
  text-align: center;
  font-family: 'Gugi', cursive;
}

.Canvas {
  z-index: -100;
  position: absolute;
}
