.Piano {
  padding: 8em;
  transform: scale(-1, 1);
}

ul {
  width: 34em;
  height: 18.875em;
  margin: auto;
  position: relative;
  border-radius: 1em;
  padding: 3em 0 0 3em;
  border: 1px solid #160801;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset,
    0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}

li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  position: relative;
}

ul .white {
  width: 4em;
  z-index: 1;
  height: 16em;
  border-radius: 0 0 5px 5px;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
}

ul .white.active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
}

.black {
  z-index: 2;
  width: 2em;
  height: 10em;
  margin: 0 0 0 -1em;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  background: linear-gradient(45deg, #222 0%, #555 100%);
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
}

.black.active {
  background: linear-gradient(to right, #444 0%, #222 100%);
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}

.a,
.g,
.f,
.d,
.c {
  margin: 0 0 0 -1em;
}

ul li:first-child {
  border-radius: 5px 0 5px 5px;
}
ul li:last-child {
  border-radius: 0 5px 5px 5px;
}
